<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <!-- starts -->
  <div class="auth-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- Authentication card start -->
        <div class="login-card card-body auth-body col-md-12">
          <form class="md-float-material" [formGroup]="registrationForm" (ngSubmit)="registerUser()" novalidate>
            <div class="text-center">
              <img src="assets/images/auth/logo.png" alt="Mash Able">
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-center txt-primary">Sign up. It is fast and easy.</h3>
                </div>
              </div>
              <hr/>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                <input type="text" class="form-control form-control-lg" placeholder="Username" autocomplete="off"
                  formControlName="username"
                  [class.is-invalid]="RegistrationFormControls['username'].touched && RegistrationFormControls['username'].invalid">

                <div class="invalid-feedback text-left"
                  *ngIf="RegistrationFormControls['username'].touched && RegistrationFormControls['username'].errors?.required">
                  Username is required</div>
                <div class="invalid-feedback text-left"
                  *ngIf="RegistrationFormControls['username'].touched && RegistrationFormControls['username'].errors?.minlength">
                  Username should be minimum of
                  {{RegistrationFormControls['username'].errors?.minlength.requiredLength}}
                  characters</div>
                <div class="invalid-feedback text-left"
                  *ngIf="RegistrationFormControls['username'].touched && RegistrationFormControls['username'].errors?.maxlength">
                  Username should be maximum of
                  {{RegistrationFormControls['username'].errors?.maxlength.requiredLength}}
                  characters</div>
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ti-text"></i></span>
                </div>
                <input type="text" class="form-control form-control-lg" placeholder="First Name" autocomplete="off"
                  formControlName="firstName"
                  [class.is-invalid]="RegistrationFormControls['firstName'].touched && RegistrationFormControls['firstName'].invalid">
                <div class="invalid-feedback text-left"
                  *ngIf="RegistrationFormControls['firstName'].touched && RegistrationFormControls['firstName'].errors?.required">
                  First Name is required</div>
                <div class="invalid-feedback text-left"
                  *ngIf="RegistrationFormControls['firstName'].touched && RegistrationFormControls['firstName'].errors?.minlength">
                  First Name should be minimum of
                  {{RegistrationFormControls['firstName'].errors?.minlength.requiredLength}}
                  characters</div>
                <div class="invalid-feedback text-left"
                  *ngIf="RegistrationFormControls['firstName'].touched && RegistrationFormControls['firstName'].errors?.maxlength">
                  First Name should be maximum of
                  {{RegistrationFormControls['firstName'].errors?.maxlength.requiredLength}}
                  characters</div>
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ti-text"></i></span>
                </div>
                <input type="text" class="form-control form-control-lg" placeholder="Last Name" autocomplete="off"
                  formControlName="lastName"
                  [class.is-invalid]="RegistrationFormControls['lastName'].touched && RegistrationFormControls['lastName'].invalid">
                <div class="invalid-feedback text-left"
                  *ngIf="RegistrationFormControls['lastName'].touched && RegistrationFormControls['lastName'].errors?.required">
                  Last Name is required</div>
                <div class="invalid-feedback text-left"
                  *ngIf="RegistrationFormControls['lastName'].touched && RegistrationFormControls['lastName'].errors?.minlength">
                  Last Name should be minimum of
                  {{RegistrationFormControls['lastName'].errors?.minlength.requiredLength}}
                  characters</div>
                <div class="invalid-feedback text-left"
                  *ngIf="RegistrationFormControls['lastName'].touched && RegistrationFormControls['lastName'].errors?.maxlength">
                  Last Name should be maximum of
                  {{RegistrationFormControls['lastName'].errors?.maxlength.requiredLength}}
                  characters</div>
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="email"><i class="ti-email"></i></span>
                </div>
                <input type="text" class="form-control form-control-lg" placeholder="Email" autocomplete="off"
                  formControlName="email"
                  [class.is-invalid]="RegistrationFormControls['email'].touched && RegistrationFormControls['email'].invalid">
                <div class="invalid-feedback text-left"
                  *ngIf="RegistrationFormControls['email'].touched && RegistrationFormControls['email'].errors?.required">
                  Email is required</div>
                <div class="invalid-feedback text-left" *ngIf="RegistrationFormControls['email'].errors?.email">Please enter a
                  valid email</div>
                <span class="md-line"></span>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="password"><i class="fa fa-lock"></i></span>
                </div>
                <input type="password" class="form-control form-control-lg" placeholder="Password" autocomplete="off"
                  formControlName="password"
                  [class.is-invalid]="RegistrationFormControls['password'].touched && RegistrationFormControls['password'].invalid">
                <div class="invalid-feedback text-left"
                  *ngIf="RegistrationFormControls['password'].touched && RegistrationFormControls['password'].errors?.required">
                  Password is required</div>
                <div class="invalid-feedback text-left"
                  *ngIf="!RegistrationFormControls['password'].errors?.required && RegistrationFormControls['password'].errors?.passwordComplexityFailed">
                  Password must be at least 8 characters long with 1 upper case letter, 1 lower case letter, 1 number
                  and 1 special character.</div>
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="confirmPassword"><i class="fa fa-lock"></i></span>
                </div>
                <input type="password" class="form-control form-control-lg" placeholder="Confirm Password"
                  autocomplete="off" formControlName="confirmPassword"
                  [class.is-invalid]="(RegistrationFormControls['confirmPassword'].touched && RegistrationFormControls['confirmPassword'].invalid) || (registrationForm.errors?.confirmPasswordInvalid)">
                <div class="invalid-feedback text-left"
                  *ngIf="RegistrationFormControls['confirmPassword'].touched && RegistrationFormControls['confirmPassword'].errors?.required">
                  Confirm Password is required</div>
                <div class="invalid-feedback text-left" *ngIf="!RegistrationFormControls['confirmPassword'].errors?.required && registrationForm.errors?.confirmPasswordInvalid">
                  Password and Confirm Password should match</div>
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <select class="custom-select col-12" id="ddUserType" formControlName="role"
                  [class.is-invalid]="RegistrationFormControls['role'].touched && RegistrationFormControls['role'].invalid">
                  <option [ngValue]="null">Choose Role</option>
                  <option value="CUSTOMER">I am a Customer</option>
                  <option value="EMPLOYEE">I am a Driver</option>
                </select>
                <div class="invalid-feedback text-left"
                  *ngIf="RegistrationFormControls['role'].touched && RegistrationFormControls['role'].invalid">
                  Please select the a Role</div>
                <span class="md-line"></span>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" [disabled]="registrationForm.invalid">Sign up now.</button>
                </div>
              </div>
              <div class="row m-t-25 text-left">
                <div class="col-sm-12 col-xs-12 forgot-phone text-right">
                  <a [routerLink]="['/auth/login']" class="text-right f-w-600 text-inverse"> Already registered? Sign in</a>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-10">
                  <p class="text-inverse text-left m-b-0">Thank you and enjoy our website.</p>
                  <p class="text-inverse text-left"><b>Your Autentification Team</b></p>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/auth/Logo-small-bottom.png" alt="small-logo.png">
                </div>
              </div>
            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of -->
</section>
